img {
  width: 200px;
  border-radius: 100%;
}
.body{
    margin:20px;
}
.photo {
  padding: 0%;
  margin: 0%;
}
.button-section {
  display: grid;
}
.button-space {
  margin-top: 30px;
  margin-bottom:30px;
  margin-top: 30px;
  width: 200px;
}
.borde{
    border: teal 10px solid;
}
.block{
    float: left;
    margin-left: 25px;
}
.blockservices{
  margin-top: 25px;
  float: left;
  margin-left: 25px;
}